[WebService]
Origins = https://{{ ansible_ssh_host }}/admin/ wss://{{ ansible_ssh_host }}/admin/ https://{{ ansible_ssh_host }}
AllowUnencrypted = true
UrlRoot = /admin/
ProtocolHeader = X-Forwarded-Proto
